@import url("https://fonts.googleapis.com/css2?family=Poiret+One&family=Raleway:wght@300;400;500;600;700;800&display=swap");

* {
  font-family: "Poiret One", sans-serif;
  text-underline-offset: 0.3rem;
}

html {
  scrollbar-color: #f1f0e9 #2b2822;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scroll-padding-top: 25px;
  overflow-x: hidden;
  background-color: #2b2822;
}

body {
  position: relative;
  min-height: 100vh;
  color: #000000;
  background-color: #c7c7c7;
  height: 100%;
  margin: 0;
  padding: 0;
  justify-content: center;
  text-align: center;
  display: flexbox;
  transition: background 0.3s ease, color 0.3s ease;
  border: 4px solid;
  border-radius: 20px;
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
}

a:link,
a:visited {
  color: none;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: none;
}

a:active {
  color: inherit;
}

.mode-toggle-container {
  display: flex;
  align-items: right;
  justify-content: right;
  gap: 15px;
  margin-top: 20px;
  margin-right: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 25px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #333333;
  transition: 0.4s;
  border-radius: 30px;
}

.slider:before {
  content: "";
  position: absolute;
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #d1d1d1;
}

input:checked + .slider:before {
  transform: translateX(30px);
}

body.dark-mode a {
  color: #f1f0e9;
}

body.dark-mode {
  background: #2b2822;
  color: #f1f0e9;
}

body.dark-mode h1 span:first-child {
  color: #f1f0e9;
}

body.dark-mode h1 span:last-child {
  color: #ccc;
}

.home {
  font-size: 25px;
  padding-bottom: 20px;
}
h1 {
  font-size: 30px;
  display: inline-flex;
  justify-content: center;
}

.title {
  margin: 0px;
}
h2 {
  font-size: 25px;
  font-weight: 600;
  display: inline-flex;
  justify-content: center;
}

p {
  font-size: 22px;
  font-weight: bolder;
}

.navbar {
  margin: auto;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
  justify-content: center;
  list-style-type: none;
  display: block;
  padding: 10px;
}

.nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.nav-ul li {
  margin-right: 12px;
  transition: transform 0.2s ease;
  border: 2px solid #f1f0e9;
  border-radius: 10px;
  padding: 2px;
  margin: 0.25rem;
  padding: 0.5rem;
}

.nav-ul li:hover {
  transform: scale(1.1);
  font-weight: 600;
}

.nav-ul li:last-child {
  margin-right: 0;
}

.nav-ul a {
  text-decoration: none;
  color: #2b2822;
  padding: 10px;
}

.nav-color {
  background-color: #f1f0e9;
}

.university-container {
  align-items: center;
  font-size: 22px;
  font-weight: 700;
  padding: 0.5rem;
}
.university-logo {
  width: 30px;
  height: auto;
  vertical-align: middle;
  margin-right: 10px;
  position: relative;
  top: 0px;
}

.project-features li a {
  position: relative;
  display: inline-block;
  padding: 5px;
  transition: all 0.2s ease;
  transform-origin: center;
}

.project-features li a:hover {
  transform: scale(1.1);
}

.project-features ul li {
  margin-right: 12px;
}
.project-features li {
  display: inline;
}

.discord-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .discord-projects {
    grid-template-columns: 1fr;
  }
}

.sidebar-tab {
  position: fixed;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(65, 65, 65, 0.95);
  color: white;
  padding: 12px 15px;
  border-radius: 0 8px 8px 0;
  cursor: pointer;
  z-index: 101;
  transition: all 0.3s ease;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
  opacity: 1;
}

.sidebar-tab.clicked {
  opacity: 0.5;
}

.sidebar-tab:hover {
  background-color: rgba(22, 22, 22, 0.95);
}

.sidebar {
  position: fixed;
  left: -220px;
  top: 50%;
  transform: translateY(-50%);
  width: 200px;
  background-color: rgba(65, 65, 65, 0.95);
  backdrop-filter: blur(8px);
  color: white;
  padding: 15px 10px;
  border-radius: 50px;
  transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  z-index: 100;
}

.sidebar.active {
  left: 20px;
  width: 400px;
}

.sidebar:hover {
  background-color: rgba(22, 22, 22, 0.95);
}

.home {
  list-style: none;
}

.folder {
  padding: 12px;
  margin: 10px 0;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.2s ease;
  list-style: none;
  text-align: left;
}

.folder:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.folder-name {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 20px;
  font-weight: 500;
  white-space: nowrap;
  opacity: 0.9;
  padding: 8px 0;
}

.folder-content {
  display: none;
  margin-top: 8px;
  padding: 8px;
  background: rgba(51, 51, 51, 0.8);
  border-radius: 8px;
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  list-style: none;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.4s ease, transform 0.4s ease;
}

.folder ul {
  padding: 0;
  margin: 0;
}

.folder:hover .folder-content {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.folder-content li {
  padding: 10px 15px;
  margin: 8px 0;
  font-size: 20px;
  border-radius: 12px;
  transition: all 0.2s ease;
}

.folder-content li:hover {
  background: rgba(127, 140, 158, 0.3);
  transform: translateX(4px);
}

.folder-content li a {
  color: rgba(255, 255, 255, 0.9);
  text-decoration: none;
  display: block;
  font-size: 20px;
}

.folder:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 25px;
  padding-bottom: 25px;
}

.folder:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 15px;
  padding-bottom: 15px;
}

.project-card {
  flex: 0 1 calc(33.333% - 1rem);
  min-width: 280px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  padding: 1rem;
  width: 300px;
  transition: transform 0.3s ease;
  max-height: 680px;
  gap: 0px;
  transition: transform 0.3s ease;
  position: relative;
  overflow: hidden;
  margin: 0.5rem;
}

.project-card:hover {
  transform: translateY(-5px);
  background-color: #606060;
  opacity: 0.9;
  background: radial-gradient(
      circle,
      transparent 20%,
      #606060 20%,
      #606060 80%,
      transparent 80%,
      transparent
    ),
    radial-gradient(
        circle,
        transparent 20%,
        #606060 20%,
        #606060 80%,
        transparent 80%,
        transparent
      )
      17.5px 17.5px,
    linear-gradient(
        #494949 1.4000000000000001px,
        transparent 1.4000000000000001px
      )
      0 -0.7000000000000001px,
    linear-gradient(
        90deg,
        #494949 1.4000000000000001px,
        #606060 1.4000000000000001px
      ) -0.7000000000000001px 0;
  background-size: 35px 35px, 35px 35px, 17.5px 17.5px, 17.5px 17.5px;
  color: white;
}

.project-card img {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
}

.project-details {
  text-align: center;
  margin-top: 1rem;
}

.project-stats {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
}

.project-links {
  display: flex;
  gap: 1rem;
  justify-content: center;
  height: 40px;
  color: white;
  position: relative;
  z-index: 2;
}

.project-invite,
.source-code {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  width: 120px;
  text-align: center;
  line-height: 1.5;
  transition: transform 0.2s ease, background-color 0.2s ease;
  position: relative;
  z-index: 2;
}

.project-invite {
  background: #5865f2;
  color: white;
  white-space: nowrap;
}

.project-invite:hover {
  transform: translateY(-2px);
  background: #4752c4;
}

.source-code {
  background: #2f3136;
  color: white;
}

.source-code:hover {
  transform: translateY(-2px);
  background: #23252a;
}

.green-text {
  color: rgb(57, 204, 135);
}

.project-features li {
  font-size: 22px;
  font-weight: 600;
}

.project-features span {
  font-weight: 600;
  font-size: 18px;
}

.footer {
  background: linear-gradient(to right, #252525, #474747);
  color: white;
  text-align: center;
  padding: 15px;
  width: 10%;
  border-radius: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  transition: ease 0.2s;
  height: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}

footer i {
  color: white;
}

.footer:hover {
  transform: translateY(-2px);
  transition: ease 0.2s;
}

.contact {
  font-size: 20px;
  font-weight: 600;
}

[class="fa fa-envelope"] {
  text-decoration: none;
}

body {
  margin: 0;
}

.keycaps {
  margin: auto;
  display: flex;
  gap: 2rem;
  width: min(100%, 800px);
  height: auto;
  max-width: 100%;
  object-fit: contain;
}

@media screen and (max-width: 1200px) {
  .keycaps {
    width: min(60%, 600px);
  }
}

@media screen and (max-width: 768px) {
  .keycaps {
    width: min(75%, 400px);
  }
}

@media screen and (max-width: 480px) {
  .keycaps {
    width: 90%;
  }
}

.skills-list {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  flex-wrap: wrap;
  padding: 1rem;
  font-size: 22px;
  font-weight: 800;
}

.skills-list {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills-list li {
  background: #3f3f3f;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 16px;
  display: inline-block;
  animation: floatEffect 3s ease-in-out infinite;
  transition: transform 0.2s ease-in-out;
  margin: 0.25rem;
}

@keyframes floatEffect {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.skills-list li:nth-child(odd) {
  animation-delay: 0.5s;
}

.skills-list li:nth-child(even) {
  animation-delay: 1s;
}

.location-time {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.time-display {
  font-size: 22px;
  font-weight: 600;
}

.technologies-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding-bottom: 10px;
  font-weight: bolder;
}

.technologies-list li {
  display: inline-block;
  font-size: 22px;
  padding: 5px 10px;
  margin: 0;
}

.technologies-list li + li {
  margin-left: 0;
}

@media screen and (max-width: 768px) {
  .nav-ul {
    flex-direction: column;
    align-items: center;
    gap: 10px;
  }

  .nav-ul li {
    width: 80%;
    text-align: center;
    margin-right: 0;
  }

  header {
    padding: 0.5rem;
  }

  .mode-toggle-container {
    margin-right: 5px;
    margin-top: 10px;
  }

  .discord-projects {
    padding: 0.5rem;
    gap: 1rem;
  }

  .project-card {
    flex: 0 1 100%;
    min-width: 280px;
    max-width: 100%;
    margin: 0.5rem 0;
  }

  .skills-list {
    padding: 0.5rem;
    gap: 0.5rem;
  }

  .skills-list li {
    font-size: 14px;
    padding: 8px 12px;
  }

  .sidebar.active {
    width: 280px;
    left: 10px;
  }

  .folder-name {
    font-size: 18px;
  }

  .folder-content li a {
    font-size: 16px;
  }

  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 18px;
  }

  .footer {
    width: 80%;
    padding: 15px;
    margin-top: 50px;
  }

  .contact {
    font-size: 16px;
  }
}

@media screen and (max-width: 480px) {
  .nav-ul li {
    width: 90%;
  }

  .project-card {
    min-width: 260px;
    padding: 0.75rem;
  }

  .sidebar.active {
    width: 260px;
  }

  .mode-toggle-container {
    flex-direction: column;
    align-items: flex-end;
  }

  .mode-toggle {
    font-size: 14px;
  }

  .switch {
    width: 50px;
    height: 20px;
  }

  .slider:before {
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
  }

  input:checked + .slider:before {
    transform: translateX(26px);
  }
}

.nav-ul {
  transition: all 0.3s ease;
}

@media (hover: none) {
  .project-card:hover {
    transform: none;
  }

  .project-card:active {
    transform: translateY(-2px);
  }
}
